@import url(http://fonts.googleapis.com/css?family=Bitter);

#highlight {
   color: red;
}

#highlight1 {
}

.emphasized {
  font-family: 'Bitter', serif;
  font-size: 1em;
}

.smaller {
  font-family: 'Bitter', serif;
  font-size: 1em;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

slides > slide {
  display: none;
  font-family: 'Bitter', serif;
  font-size: 24px;
  text-align: justify;
  color: $gray-3;
  //@include background(linear-gradient(white, white 85%, $gray-1));
  //background-color: white;
  width: $slide-width;
  height: $slide-height;
  margin-left: -$slide-width / 2;
  margin-top: -$slide-height / 2;
  padding: $slide-top-bottom-padding $slide-left-right-padding;

  @include border-radius($slide-border-radius);
  //@include box-shadow(5px 5px 20px $gray-4);
  @include transition(all 0.6s ease-in-out);

  //$translateX: 1020px;
  //$rotateY: 30deg;
  //$rotateX: 45deg;

  &.far-past {
    //display: block;
    display: none;
    //@include transform(translate(-$translateX * 2));
    //@include transform(translate3d(-$translateX * 2, 0, 0));
  }

  &.past {
    display: block;
    //@include transform(translate(-$translateX) rotateY($rotateY) rotateX($rotateX));
    //@include transform(translate3d(-$translateX, 0, 0) rotateY($rotateY) rotateX($rotateX));
    opacity: 0;
  }

  &.current {
    display: block;
    //@include transform(translate(0));
    //@include transform(translate3d(0, 0, 0));
    opacity: 1;

    .auto-fadein {
      opacity: 1;
    }

    .gdbar {
      @include background-size(100% 100%);
    }
  }

  &.next {
    display: block;
    //@include transform(translate($translateX) rotateY(-$rotateY) rotateX($rotateX));
    //@include transform(translate3d($translateX, 0, 0) rotateY(-$rotateY) rotateX($rotateX));
    opacity: 0;
    pointer-events: none;
  }

  &.far-next {
    //display: block;
    display: none;
    //@include transform(translate($translateX * 2));
    //@include transform(translate3d($translateX * 2, 0, 0));
  }

  &.dark {
    background: $gray-4 !important;
  }

  &:not(.nobackground) {
    //@include background-size($brand-small-icon-size $brand-small-icon-size);

    &:before {
      font-size: 14pt;
      content: $social-tags;
      position: absolute;
      bottom: $slide-top-bottom-padding / 2;
      left: $slide-left-right-padding;
      @include background-size($brand-small-icon-size $brand-small-icon-size);
      padding-left: $brand-small-icon-size + 10;
      height: $brand-small-icon-size;
      line-height: 1.9;
    }
    &:after {
      font-size: 14pt;
      content: attr(data-slide-num) '/' attr(data-total-slides);
      position: absolute;
      bottom: $slide-top-bottom-padding / 2;
      right: $slide-left-right-padding;
      line-height: 1.9;
    }
  }

  &.title-slide {
    &:after {
      content: '';
      position: absolute;
      bottom: $slide-top-bottom-padding;
      right: $slide-top-bottom-padding;
      width: 100%;
      height: 60px;
    }
  }

  &.backdrop {
    z-index: -10;
    display: block !important;
    @include backdrop;

    &:after, &:before {
      display: none; // Prevent double set of slide nums and footer icons.
    }
  }

  > hgroup + article {
    margin-top: $article-content-top-padding;

    &.flexbox {
      &.vcenter, &.vleft, &.vright {
        height: 80%;
      }
    }

    p {
      margin-bottom: 1em;
    }
  }

  > article:only-child {
    height: 100%;

    > iframe {
      height: 98%;
    }
  }
}

slides.layout-faux-widescreen > slide {
  padding: $slide-top-bottom-padding 160px;
}

